textarea {
  width: 300px;
  height: 100px;
}

pre {
  white-space: pre-wrap;
}

.d-flex-vertical {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.segment {
  font-size: 30px;
  font-family: serif;
  display: inline-block;
  position: relative;
  height: 90px;
  max-height: 90px;
  background-color: white;
  
  .simplified {
    z-index: 50;
  }
  
  .pinyin, .english {
    font-size: 10px;
    max-width: 10em;
    overflow: visible;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    background-color: white;
    z-index: 0;

    &:hover {
      z-index: 100 !important;
    }
  }
}